In [1]:
tuple = (2,3.2,4,5)

In [2]:
sum(tuple)

14.2

In [3]:
min(tuple)

2

In [4]:
max(tuple)

5

In [5]:
x =(1,2,3)
x[2] = 5

TypeError: 'tuple' object does not support item assignment

In [6]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [8]:
t = (1,5,"Disco", ("Python", "Java"))
type(t[3])

tuple

In [9]:
t = (1, 2, 4, 3)

In [10]:
print(t[4])

IndexError: tuple index out of range

In [11]:
t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [13]:
t = (1, 2, 4, 3)
print(t[1:-4])

()

In [14]:
print(len(t))

4

In [17]:
inp_tup = ('Monty Python', 'British', 1969)
x = list(inp_tup)
x.append('Python')
tuple_1 = tuple(x)
tuple_1

('Monty Python', 'British', 1969, 'Python')

In [28]:
qwer = 'Kumar_Ravi_003' 
split(qwer)

NameError: name 'split' is not defined

In [25]:
x

('K', 'u', 'm', 'a', 'r', '_', 'R', 'a', 'v', 'i', '_', '0', '0', '3')

In [27]:
sum(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [30]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [32]:
qwer = 'Kumar_Ravi_003' 
x = qwer.split('_')
x

['Kumar', 'Ravi', '003']

In [33]:
x[1]

'Ravi'

In [34]:
t = (1,'e','r',45,[1,4,3,'e','h'])

In [35]:
t

(1, 'e', 'r', 45, [1, 4, 3, 'e', 'h'])

In [40]:
input_str =  ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
item1 = input_str[0]
item2 = input_str[1]
string1 = str(item1)+' & '+str(item2)
string1

'Pythons syntax is easy to learn&Pythons syntax is very clear'

In [49]:
input_list =  [[5,1,3,4,4,5,6,7],[3,3,5,5, 1 ,7 ,2]]
list_1 = input_list[0]
list_2 = input_list[1]

#Type your answer here
set1=set(list_1)
set2=set(list_2)
answer1 = (set1 & set2)
answer = (list(answer1))
answer.sort()
print(answer)

[1, 3, 5, 7]

In [50]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [53]:
input_dict = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [56]:
profession = input_dict[104][-1]

In [57]:
profession

'Product Lead'

In [58]:
d = dict(a=1, b=2)

In [59]:
d

{'a': 1, 'b': 2}

In [60]:
d = ('a':1, 'b':2)
d

SyntaxError: invalid syntax (<ipython-input-60-d5f837f33155>, line 1)

In [73]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

input_dict.get('Label')

In [74]:
d1 = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
sorted(d1.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']