In [9]:
x = int(input("Enter your age : "))
age1 = range(0,19) & range(60,100)
if x in age1 :
    print("Welcome to party")
else:
    print("Sorry!! you do not fit in PM's age criteria")

Enter your age : 65

TypeError: unsupported operand type(s) for &: 'range' and 'range'

In [6]:
range(0,19)

range(0, 19)

In [10]:
X = 12

if (X>10 & X<15):
    print('YES')
else:
    print('No')

IndentationError: expected an indented block (<ipython-input-10-850ffa12ec42>, line 4)

In [11]:
score
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

NameError: name 'score' is not defined

In [12]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [13]:
(10 > 0) or False

True

In [14]:
True or True

True

In [15]:
True or False

True

In [16]:
False or True

True

In [17]:
False or False

False

In [18]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [27]:
x ='analytics'
if x[0] == ['a','e','i','o','u','A','E','I','O','U']:
    print('vowel')
else:
    print('not a vowel')

not a vowel

In [34]:
x ='Unalytics'
if x[0] in ['a','e','i','o','u','A','E','I','O','U']:
    print('YES')
else:
    print('NO')

YES

In [3]:
L1 = [10,20,30,24,18]
range(len(L1))

range(0, 6)

In [7]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]
for  i in range(len(L2)):
    L3.append(L2(i)-L1(i))
L3

TypeError: 'list' object is not callable

In [57]:
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
f1 = []
for i in input_list:
    x = i[0].upper()
    y = i[1:].lower()
    z = x+y
    f1.append(str(z))        
f1

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [58]:

updated_list= []

for i in input_list:
    updated_list.append(i.capitalize())
    
print(updated_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [59]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
i =0
while i<len(L1):
    print(L1[i]-L2[i], end=' ')
    i=i+1

2 6 15 4 8

In [60]:
list(range(0,-101,2))

[]

In [61]:
list(range(-100,-1,2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [62]:
sorted(set(range(-2,-101,-2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [63]:
l = []
for i in range(-100,0):
    if(i%2==0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [64]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [1]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]
for  i in range(len(L1)):
    L3.append(L1[i]-L2[i])
L3

[2, 6, 15, 4, 8]

In [4]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3 = [L1[i]-L2[i] for i  in range(0,len(L1))]
L3

[2, 6, 15, 4, 8]

In [3]:
n = int(input())
#l1=[]
i=0
while i < n:
    print(i*i)
    i+=1

5
0
1
4
9
16

In [6]:
n = int(input())
i=1
while n < n*n:
    for i in n:
        print(i*i)

2

TypeError: 'int' object is not iterable

In [7]:
2^2

0

In [8]:
9*9

81

In [9]:
8*8

64

In [10]:
8**8

16777216

In [11]:
2**2

4

In [12]:
2**3

8

In [15]:
n = int(input())
for i in range(1,n+1):
    print(i*i)

6
1
4
9
16
25
36

In [21]:
ordinary_dict ={}

for i in range(2,21):
    if i%2==0:
        ordinary_dict[i]= i**2
ordinary_dict

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [17]:
updated_dict = {i:i**2 for i in range(2,21 ) if i%2 ==0}
updated_dict

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [26]:
x = ['wood','old','apple','big','item','euphoria']
z = []
for y in x:
    #print(y)
    if y[0] in ['a','e','i','o','u']:      #== 'a' or 'e' or 'i' or 'o' or 'u':
        z.append(y)
z

['old', 'apple', 'item', 'euphoria']

In [29]:
x = ['wood','old','apple','big','item','euphoria']
list_vowel = [l1 for l1 in x if l1[0] in ['a','e','i','o','u']]
list_vowel

['old', 'apple', 'item', 'euphoria']

In [30]:
input_list = list(range(1,100))
output_dict = {}
for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [33]:
output_dict= {val:val**3 for val in input_list if val%3==0}
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [34]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [35]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [5]:
x = int(input('1:'))
y = int(input('2:'))
def squared(x,y):
    sq = x ** y
    return sq
print(squared(x,y))

1:6
2:7
279936

In [6]:
def func(x,y =1):
    z = x*y + x + y
    return z

func(2,func(3))

23

In [7]:
def func(x,y):
    z = x*y + x + y
    return z

func(2,func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [8]:
def func(x=1 ,y=2):
    z = x*y + x + y
    return z

func(2,func(3))

35

In [2]:
#Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.
#Sample Input - ['6','7']
#Sample Output: ﻿279936

#import ast,sys
#input_str = sys.stdin.read()
input_list =['6','7'] #ast.literal_eval(input_str)
x = int(input_list[0])
y = int(input_list[1])

def squared(x,y):
   
   return x**y
print(squared(x,y))

279936

In [7]:
#def fun(L1,L2):
def list_diff( list1,list2):
    list3=[]
    for  i in range(0,len(list1)):
        list3.append(list1[i]-list2[i])
    return list3

L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
list_diff(L1,L2)

[2, 6, 15, 4, 8]

In [10]:
L1 =  [2,7,8,10,3]

def func(y):
    return y**2 - 2*y - 2

ans_list = [func(x) for x in L1]
ans_list

[-2, 33, 46, 78, 1]

In [2]:
#Description
#Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.
#If x = 2 and y= 3, then the output should be 3.
#Sample Input:['9','3']
#Sample Output:﻿9

input_list = list(input('Enter list'))

a = int(input_list[0])
b = int(input_list[1])

#Write your code here

greater = lambda a,b : a if a > b else b

print(greater(a,b))

Enter list67
7

In [4]:
#taking input as list
input_list = list(input('Enter list'))
input_list

Enter list123

['1', '2', '3']

In [5]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [6]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [7]:
countries = ['India','Japan','Italy','France']
list(map(lambda x : x.upper(),countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [8]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [9]:
def multi(x):
    return x*2
list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [10]:
name = ['Harshit','Aman','Akash']
list(filter(lambda x:x.startswith("A"), name))

['Aman', 'Akash']

In [12]:
from functools import reduce
from functools import reduce
list_1 = ['harshit','aman']
reduce(lambda x,y: x + y,list_1)

'harshitaman'

In [56]:
#Map Function
#Description
#Using the function Map, count the number of words that start with ‘S’ in input_list.
#Sample Input:['Santa Cruz','Santa fe','Mumbai','Delhi']
#Sample Output:2

#import ast,sys
#input_str = sys.stdin.read()
input_list1 =['San Jose', 'San Francisco', 'Santa Fe', 'Shkkjshk'] #ast.literal_eval(input_str)
count1 = map(filter(lambda x : x.startswith('S'),input_list),count)
count=[]


#count1 = len(list(count))
#print(count1)

TypeError: 'int' object is not iterable

In [64]:
input_list = ['San Jose', 'San Francisco', 'Oanta Fe', 'HHouston']
desireList = list(map(lambda x: x if x[0] == 'S' else '', input_list))
desireList.remove('')
print(len(desireList))

3

In [59]:
input_list1 =['San Jose', 'San Francisco', 'Santa Fe', 'Shkkjshk']
count = len(list(filter(lambda x : x.startswith('S'),input_list)))
print(count)

0

In [66]:
i1 = ['San Jose', 'San Francisco', 'Oanta Fe', 'HHouston']
i1

['San Jose', 'San Francisco', 'Oanta Fe', 'HHouston']

In [96]:
def checker(list):
    for i in i1:
        x = filter(lambda x : x.startswith("I"), i)
        print(list[x])
        
checker(i1)

#count =

TypeError: list indices must be integers or slices, not filter

In [75]:
i1[1][0] == 'S'

'S'

In [98]:
count = 0
        if i[0] == 'S':
            count += 1
        else:
            count +=0
    print(count)

    list(filter(lambda x : x.startswith("I"), countries))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [103]:
l1 = ['San Jose', 'San Francisco', 'Oanta Fe', 'HHouston']
def cunt(list): 
    count = 0
    for ele in list:
        if (i[0] == 'S'): 
            count = count + 1
    return count 
cunt(l1)

4

In [108]:
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

3

In [109]:
#Description
#Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 
#input = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
#output = ['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

type(type)

type

In [ ]:
#name = map(lambda first_name,last_name : first_name + " " + last_name,input1)
#list(name)

    #for i in first_name:
        #for j in last_name:
            #name1 = i + " " +j
        #return name1
        #input1[0][0] + " " + input1[1][1]

In [7]:
input1 = [['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

a1 = input1[0]
b1 = input1[1]


name = map(lambda x,y: for x,y in a1,b1, x + " " +y,input1)
list(name)

SyntaxError: invalid syntax (<ipython-input-7-b22f644dd130>, line 7)

In [186]:
for i in a1:
    print(i)

Ankur
Avik
Kiran
Nitin

In [17]:
input1 = [['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

a1 = input1[0]
b1 = input1[1]

#def join:
#    for i,j in a1,b1:
        
#join = a1 + b1
#join
#for i in a1:
#    for j in b1:
#        joined = a1 + ' ' + b1
#joined

z1 = a1[1] + ' ' + b1[1]

z2 = a1[2] + ' ' + b1[2]

z3 = a1[3] + ' ' + b1[3]

z4 = a1[0] + ' ' + b1[0]
z5 = [z1,z2,z3,z4]
z5

['Avik Sarkar', 'Kiran R', 'Nitin Sareen', 'Ankur Narang']

In [ ]:
for i in a1:
    for j in b1:
        x = i + j
x